.container {
  display: flex;
  align-items: left;
  font-size: 1em;

  max-width: 600px;
  width: 100%;
}

.section {
  display: flex;
  align-items: left;

  /* gap: 0.5rem; */

  /* margin-left: 20px; */

}

.amount {
  /* font-size: 1rem; */

  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  font-size: inherit;
  color: inherit;
  padding: .35rem;
  border-radius: 8px;

}

.spacer {
  width: 10px;
}

.vspacer {
  height: 10px;
}


